@import "./modules/boilerplate.css";

/* product box starts */
.product-box {
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  border: 1px solid #b3acac;
  transition: 0.2s all ease-in-out;
}

.product-box:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.product-box__badge {
  position: absolute;
  font-size: 1.2rem;
  rotate: -20deg;
  background: -webkit-linear-gradient(45deg, #00d7ff, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "mikhak";
}

.product-box__img {
  height: 300px;
}

.product-box__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-box__colors {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.product-box__colors div {
  --color-size: 0.8rem;
  --color-name-size: 6rem;

  position: relative;
  display: block;
  width: var(--color-size);
  height: var(--color-size);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.product-box__colors div span {
  position: absolute;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.4rem;
  width: var(--color-name-size);
  z-index: 10;
  bottom: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 10rem;
  border: 1px solid #ccc;
  left: calc(((var(--color-name-size) / 2) - (var(--color-size) / 2)) * -1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.product-box__colors div:hover span {
  opacity: 1;
  visibility: visible;
  bottom: 120%;
}

.product-box__content {
  text-align: center;
}
.product-box__title {
  font-size: 1.5rem;
}
.product-box__subtitle {
  color: var(--gray);
  font-size: 1rem;
}

.product-box__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-box__details {
  background-color: var(--main-color-one);
  color: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--main-color-one);
}

.product-box__details:hover {
  background-color: white;
  color: var(--main-color-one);
}

.product-box__details svg {
  width: 1.5rem;
}
.product-box__price-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.product-box__price {
  font-size: 1rem;
  color: var(--main-color-one);
  margin: 0 !important;
}
.product-box__price-currency {
  rotate: -80deg;
  font-family: "mikhak";
  color: var(--gray);
  font-size: 0.8rem;
}
/* product box ends */

