@import "./modules/boilerplate.css";

.loan-wrapper {
  background-color: var(--main-color-one);
  padding: 6rem 0;
}

.loan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.loan-header h3 {
  font-size: 1.3rem !important;
  color: var(--main-color-one);
}

.loan-header span {
  color: var(--green);
  font-size: 1.7rem;
}

.loan-installments {
  display: flex;
  gap: 1rem;
}

.loan-installments button {
  border-radius: 10rem;
  border: 1px solid var(--main-color-one);
  background-color: var(--main-color-bg);
  color: var(--main-color-one);
  padding: 0.2rem 2.5rem;
}

.loan-header #loan-price {
}

.loan-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loan-interest {
  background-color: var(--main-color-bg);
  color: var(--main-color-one);
  border-radius: 10rem;
  padding: 0.4rem 1rem;
  display: block;
}

.loan-details {
  background-color: var(--main-color-bg);
  color: var(--main-color-one);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.loan-details > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid var(--main-color-one);
}
.loan-details > div:last-child {
  padding: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

.loan-details > div .price {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .loan-details {
    font-size: 0.8rem;
  }
}

.support-btn {
  background-color: var(--main-color-one);
  color: white;
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
}

.range-input {
  --c: var(--main-color-one); /* active color */
  --g: 8px; /* the gap */
  --l: 3px; /* line thickness*/
  --thumb-size: 25px; /* thumb size*/

  width: 100%;
  height: var(--thumb-size); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10rem;
}
.range-input:focus-visible,
.range-input:hover {
  --p: 25%;
}
.range-input:active,
.range-input:focus-visible {
  --_b: var(--thumb-size);
}
/* chromium */
.range-input[type="range" i]::-webkit-slider-thumb {
  height: var(--thumb-size);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--gray) 50%, var(--main-color-one) 0)
    0 1 / calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--thumb-size);
  width: var(--thumb-size);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, gray 50%, orange 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}
/* @supports not (color: color-mix(in srgb, blue, blue)) {
  input {
    --_c: var(--c);
  }
} */

/**/

@media (min-width: 992px) {
  .loan {
    padding-bottom: 5rem !important;
  }
  .support-btn-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--main-color-one);
    width: calc(((5 / 12) * 100%) - 0.5rem);
    height: 80px;
  }
  .support-btn-wrapper::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: purple;
    border-radius: 50%;
    left: 100%;
  }
}
