@import "./modules/boilerplate.css";

@font-face {
  font-family: moraba;
  src: url(./../assets/fonts/dana/DanaNoEn-Medium.woff2);
}

body {
  padding: 5rem;
  font-family: moraba;
}

.wrapper {
  width: 200px;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-menu {
}
.sidebar-menu__item {
  padding: 0.5rem 1rem;
  display: block;
  background-color: oklch(0.91 0.096 180.426);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar-menu__link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.menu-wrapper {
  min-height: 0;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s;
}

.menu-wrapper > div {
  overflow: hidden;
}

.menu-wrapper.open {
  grid-template-rows: 1fr;
}

.menu {
  /* background: oklch(0.892 0.058 10.001); */
  margin-right: calc(1.75rem + 8px);
}
.menu li {
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.2rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  position: relative;
  color: oklch(0.398 0.195 277.366);
  transition: all 0.2s ease-in-out;
}

.menu li:hover {
  background-color: oklch(0.87 0.065 274.039);
}

.menu li a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.menu li:first-child::before {
  height: 50%;
}

.menu li::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 130%;
  left: 100%;
  bottom: 50%;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 2px solid blue;
  border-right: 2px solid blue;
}
